#container{
    font-family : Arial, sans-sarif; 
    text-align : center;
    font-size : 2em;
    font-weight : bold;
}
button {
    font-size : 1.5rem;
    padding : 10px 15px;
    background-color: rgb(31, 170, 212);
    color : white;
    border : none;
    border-radius : 10px;
    font-weight : bold;
    cursor : pointer;
}
button:hover{
    background-color : rgb(12, 154, 249);
}
button:active {
    background-color : rgb(30, 99, 190);
}
input{
    font-size : 2rem;
    width : 150px;
    text-align : center;
    font-weight : bold;
    border-radius : 5px;
}
#diceResult {
    margin : 25px;
}
#diceImages img{
    width : 150px;
    margin : 5px;   
}